/venv
/db/app.db
/db_repository
/app/forms.pyc
/app/__init__.pyc
/app/models.pyc
/app/views.pyc

config.pyc

Procfile


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
