@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	padding:0;
	margin:0
}


/* Test
 * -------------------------------------- */ 
.test {
	display:block;
	position: absolute;
	width: 35%;
	height: 35%;
	background: #000;
	float: right;
	clear: both;
	right: 0%;
	border-radius: 0px 0px 0px 10px;
	z-index: 9999;
}

.test h2 {
	margin: 0px auto;
	color: #fff;
	text-align: center;
	font-size: 3em;
	font-family:'Open Sans Condensed',sans-serif;
}

.test p {
	margin: 0px auto;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	font-family:'Open Sans Condensed',sans-serif;
}

.test span {
	color: #FDE3A7;
}
/* -------------------------------------- */

/* NEW STYLE
 * -------------------------------------- */ 
#section0 {
	
	background-image:url(/static/img/bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% center;
	z-index: 800;
/* min-height: 716px; */
}

video {
	/* position: fixed; */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
	background-size: cover;
}

#section0 img {
	display:block;
	float:left;
	/*
	width:40%;
	margin-right:5%;
	z-index:1000;
	position:relative;
	*/
}

#section0 p {
	z-index:999;
	font-family:'Open Sans Condensed',sans-serif;
	color:#000;
	padding:5%;
	background:#fff;
	width:90%;
	position:absolute;
	opacity:.9;
	clear:both;
	bottom:0;
}

.facebook-plugin {
	display:block;
	float:right;
	clear: both;
	position: relative;
}

.landing-desc {
	display:block;
	background:none repeat scroll 0 0 #000;
	opacity:.7;
	height:50%;
	width:30%;
	float:right;
	margin-right:-34%;
	border-radius:100%
}

/*
#section2 {
	 background-image: url("/static/img/stat.png");
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: 50% center;
	 min-height: 716px;
}
*/
#section2 img {
	display:block;
	position:relative;
	width:70%;
	margin:0 auto
}

#video p {
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:42px;
	font-weight:700;
	text-align:center;
	color:#FFF;
	margin-top:4px;
	z-index:1000
}

#video img {
	z-index:1000
}

#section1 p {
	display:block;
	font-family:'Open Sans Condensed',sans-serif;
	font-size:32px;
	text-align:center;
	color:#ABB7B7;
	font-weight: 700;
	top:-8%;
	padding:100px;
	position:relative
}

.sec2-title p {
  display: block;
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #ABB7B7;
  position: relative;
  margin-top: -8%;
  margin-bottom: 20px;
}

.header {
	display:block;
	position:absolute;
	z-index:1000;
	width:100%;
	height:2%;
	top:0;
	/* border-bottom: 2px solid #674172; */
	opacity: 0.8;
	background: #350e35;
}

.header h2 {
	padding:15px;
	float:left;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}

.header h3 {
	padding:15px;
	float: right;
	color: #fff;
	top: -4%;
	font-size:12px;
	font-style: italic;
    font-weight: 700;
}

.mission h3 {
  color: #E74C3C;
  background: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Indie Flower', cursive;
  display: block;
  margin-top: -15%;
  margin-left: 34%;
  clear: both;
  padding: 4px;
  position: absolute;
}

.mission img {
	width: 90px;
	height: 91px;
	margin-left: 27%;
    top: 8%;
	z-index: 2000;
    position: absolute;
}

.enter {
  display: block;
  position: absolute;
  width: 20%;
  height: 36%;
  background: #000;
  opacity: 0.8;
  border-radius: 2px;
  top: 31%;
  margin-left: 20%;
}

.enter input {
  display: inline-block;
  margin: 5%;
  border: 0 none;
  border-radius: 2px;
  padding: .66em .95em;
  font-size: 12px;
  background: #FDE3A7;
  position: relative;
  width: 60%;
}

.enter button {
	border: 0 none;
	background: #350e35;
	float: left;
	color: #fff;
	border-radius: 2px;
	width: 75px;
	height: 50px;
	font-weight: 700;
	margin-left: 9%;
}

.enter h3{
	block: inline-block;
	float: left;
	color: #fff;
	margin-left: 35%;
	margin-top: 7%;
	font-weight: 700;
	
}

.enter h5, a {
	color:#F22613;
	text-decoration: none;
	font-weight: 700;
	margin-left: -2%;
}

/**************************************
/ Input styling 
**************************************/
input[type="text"]::-moz-placeholder {
  color: #000;
  font-style: italic;
  font-weight: 700;
}
input[type="text"]:-ms-input-placeholder {
  color: #000;
  font-style: italic;
  font-weight: 700;
}
input[type="text"]::-webkit-input-placeholder {
  color: #000;
  font-style: italic;
  font-weight: 700;
}

input[type="password"]::-moz-placeholder {
  color: #000;
  font-style: italic;
  font-weight: 700;
}
input[type="password"]:-ms-input-placeholder {
  color: #000;
  font-style: italic;
  font-weight: 700;
}
input[type="password"]::-webkit-input-placeholder {
  color: #000;
  font-style: italic;
  font-weight: 700;
}


textarea {
  font-style: italic;
}

.sign_up {
  display: block;
  position: absolute;
  width: 20%;
  height: 60%;
  z-index: 1000;
  background: #000;
  opacity: 0.8;
  border-radius: 2px;
  top: 31%;
  margin-left: 20%;
}

.sign_up  input {
  display: inline-block;
  margin: 5%;
  border: 0 none;
  border-radius: 2px;
  padding: .66em .95em;
  font-size: 12px;
  background: #FDE3A7;
  position: relative;
  width: 60%;
}

.sign_up textarea {
	display: inline-block;
	border:1px solid grey;
	background:none;
	color: #fff;
	position: relative;
}

.sign_up  button {
	border: 0 none;
	background: #350e35;
	float: left;
	color: #fff;
	border-radius: 2px;
	width: 75px;
	height: 50px;
	font-weight: 700;
	margin-left: 9%;
}

.sign_up  h3{
	block: inline-block;
	float: left;
	color: #fff;
	margin-left: 35%;
	margin-top: 7%;
	font-weight: 700;
	
}

.sign_up  h5, a {
	color:#F22613;
	text-decoration: none;
	font-weight: 700;
	margin-left: -2%;
}

.landing-footer {
	display:block;
	border-bottom:7px solid #ABB7B7;
	width:70%;
	margin:0 auto;
	height:21%;
	top:9%;
	position:relative;
	background:#F2F1EF
}

.landing-footer p {
	color:#ABB7B7;
	display:block;
	font-size:15px;
	padding-top:9%
}

/******* SLIDE ONE *******/
input[type=checkbox] {
	visibility: hidden;
}

.slideOne {
	width: 50px;
	height: 10px;
	background: #FDE3A7;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.sign_up h4 {
	float: left;
	color: #fff;
	margin-left: 4%;
    margin-top: 2%;
}

.sign_up h4:nth-of-type(2n) {
	float: left;
	color: #fff;
	margin-left: 2%;
	margin-top: 2%;
}

.slideOne label {
	display: block;
	width: 16px;
	height: 16px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideOne input[type=checkbox]:checked + label {
	left: 37px;
}

/******************************/

/******* SLIDE TWO *******/

.slideTwo {
	width: 50px;
	height: 10px;
	background: #FDE3A7;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}


.slideTwo label {
	display: block;
	width: 16px;
	height: 16px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideTwo input[type=checkbox]:checked + label {
	left: 37px;
}

.user_option p {
	display: block;
	font-size: 15px;
	position: absolute;
}

.form-required {
	color: red;
}

/******************************/
a {
	text-decoration:none
}

table {
	border-spacing:0
}

fieldset,img {
	border:0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-weight:400;
	font-style:normal
}

strong {
	font-weight:700
}

ol,ul {
	list-style:none;
	margin:0;
	padding:0
}

caption,th {
	text-align:left
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-size:100%;
	margin:0;
	padding:0;
	color:#444
}

q:before,q:after {
	content:''
}

abbr,acronym {
	border:0
}

/* Custom CSS
 * --------------------------------------- */
body {
	font-family:arial,helvetica;
	color:#333;
	color:rgba(0,0,0,0.5)
}

.wrap {
	margin-left:auto;
	margin-right:auto;
	width:960px;
	position:relative
}

h1 {
	font-size:6em
}

p {
	font-size:2em
}

.intro p {
	width:50%;
	margin:0 auto;
	font-size:1.5em
}

.section {
	text-align:center
}

#menu li {
	display:inline-block;
	margin:10px;
	color:#000;
	background:#fff;
	background:rgba(255,255,255,0.5);
	-webkit-border-radius:10px;
	border-radius:10px
}

#menu li.active {
	background:#666;
	background:rgba(0,0,0,0.5);
	color:#fff
}

#menu li a {
	text-decoration:none;
	color:#000
}

#menu li.active a:hover {
	color:#000
}

#menu li:hover {
	background:rgba(255,255,255,0.8)
}

#menu li a,#menu li.active a {
	padding:9px 18px;
	display:block
}

#menu li.active a {
	color:#fff
}

#menu {
	position:fixed;
	top:0;
	left:0;
	height:40px;
	z-index:70;
	width:100%;
	padding:0;
	margin:0
}

.twitter-share-button {
	position:fixed;
	z-index:99;
	right:149px;
	top:9px
}

#download {
	margin:10px 0 0;
	padding:15px 10px;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#49afcd;
	background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-ms-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
	background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:linear-gradient(top,#5bc0de,#2f96b4);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',endColorstr='#2f96b4',GradientType=0);
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	vertical-align:middle;
	cursor:pointer;
	display:inline-block;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)
}

#download a {
	text-decoration:none;
	color:#fff
}

#download:hover {
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#2F96B4;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-ms-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear
}

#infoMenu {
	height:20px;
	color:#f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:.9em;
	padding:8px 0
}

#infoMenu ul {
	padding:0 40px
}

#infoMenu li a {
	display:block;
	margin:0 22px 0 0;
	color:#333
}

#infoMenu li a:hover {
	text-decoration:underline
}

#infoMenu li {
	display:inline-block;
	position:relative
}

#examplesList {
	display:none;
	background:#282828;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	padding:20px;
	float:left;
	position:absolute;
	bottom:29px;
	right:0;
	width:638px;
	text-align:left
}

#examplesList ul {
	padding:0
}

#examplesList ul li {
	display:block;
	margin:5px 0
}

#examplesList ul li a {
	color:#BDBDBD;
	margin:0
}

#examplesList ul li a:hover {
	color:#f2f2f2
}

#examplesList .column {
	float:left;
	margin:0 20px 0 0
}

#examplesList h3 {
	color:#f2f2f2;
	font-size:1.2em;
	margin:0 0 15px;
	border-bottom:1px solid rgba(0,0,0,0.4);
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1);
	box-shadow:0 1px 0 rgba(255,255,255,0.1);
	padding:0 0 5px
}

/* Demos Menu
 * --------------------------------------- */
#demosMenu {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:999
}