.popup-window {
	position:fixed;
	left:50%;
	top:5%;
	width:80%;
	z-index:6000;
	padding:30px;
	background-color:#674172;
	color: #350e35;
	border:1px solid #000;
	transform:translate(-50%,0px);
	border-radius:5px;
	box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	overflow-x:auto;
	height:20%;
}

.popup-shade {
	z-index:4000;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.7)
}

.popup-close {
	position:fixed;
	top:10px;
	right:-30px;
	text-decoration:none;
	color:#fff;
}