{% extends "index.html" %}
{% block body %}

 {% if current_user.is_authenticated() %}
 
	<div class="cd-panel from-left">
		<header class="cd-panel-header">
			<h1>Analytics |</h1><h3>{{ time }}</h3>
			<a href="#0" class="cd-panel-close">Close</a>
		</header>
	 
		<div class="cd-panel-container">
			<div class="cd-panel-content">
				<!-- your side content here -->
				<div class="analytics_img">
					<img src="/static/img/Analytics.png" width="150px" height="100px"/>
					<hr>
				</div>
				
				<!-- ************************************ -->
				
				<div class="listings">
					<h3 align="center">LISTINGS</h3>
					<hr width="50%">
					
					{% for list in listings %}
					<ul>
						<li><p>{{ list.photo_description }}<br />amount: {{ list.amount }} @ ${{ list.price }}<p></li>
						<form method="POST" action="{{ url_for('deleted') }}"> 
							<button type="submit"><img src="/static/img/delete.png" /></button>
						</form>
					</ul>
					{% endfor %}
				</div>
				
				<!-- ************************************ -->
				
				
				<div class="interactions">
					<h3 align="center">INTERACTIONS</h3>
					<hr width="50%">
					<p>You have {{ like }}  new likes and</p>
					<p>{{ social }} new comments Today</p>
				</div>
				
			</div> <!-- cd-panel-content -->
		</div> <!-- cd-panel-container -->
	</div> <!-- cd-panel -->
 
 
		
	<div class="fields">
		<form method="POST" action="{{ url_for('admin') }}" enctype=multipart/form-data>
			<h3 align="center">Enter a description of your item</h3>
			<input type="text" name="photo_description" placeholder="Photo description"></input><br />
			<h3 align="center">Enter a size</h3>
			<input type="text" name="size" placeholder="Medium"></input><br />
			<h3 align="center">Enter a price</h3>
			<input type="text" name="price" placeholder="ex. $50.00 EC"></input><br />
			<h3 align="center">Enter a quantity</h3>
			<input type="text" name="amount" placeholder="100"></input><br />
		<!-- ********************************************************************************* -->
			<div class="files">
			<h3 align="center">**required** Upload an Image</h3>
			<input type="file" name="file" class="file"></input>
			<br /><br />
			</div>
			<button type="submit" value="submit">Submit</button><br />	
		</form>
	</div>
	
  {% endif %}
{% endblock %}