{% block body %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Wob</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage very simple demo." />
	<meta name="keywords"  content="fullpage,jquery,demo,simple" />
	<meta name="Resource-type" content="Document" />

	
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/examples.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.jMosaic.css" />
	<link rel="shortcut icon" href="http://faviconist.com/icons/07a10cab66719b7ee07758859d2c68fb/favicon.ico" />

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
		
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>	
	
	<script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="../static/js/jquery.jMosaic.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		
			$('#fullpage').fullpage({
				autoScrolling: false,
				slidesColor: ['#000000', '#fff', '#F2F1EF']
				
				
				//afterRender: function(){
				
					//setting the size
					//$('video').height($(window).height());
					
					//playing the video
					//$('video').get(0).play();
				//}
			});
		});
	</script>

</head>
<body>

<!-- ****************************************** -->
<!-- //Test//                                   -->
<!-- ****************************************** 
<div class="test">
	<h2 align="CENTER">Welcome to WOB!</h2>
	<p>To browse the site enter your Free account below.</p><br />
	<p>Username: <span>test</span></p>
	<p>Password: <span>test</span></p>
</div>
-->

<div id="fullpage">
    
	<div class="header">
		<h2>WOB</h2>
		<h3><img src="/static/img/email.png" width="24px" height="24px"/>contact@wob.fashion</h3>
		<h3><img src="/static/img/whatsapp.png" width="24px" height="24px"/>1767-614-4347</h3>
	</div>
	
	<!-- ****************************************************************************************** -->
	<div class="section active" id="section0">
	
	<div class="mission">
		<img src="/static/img/logo-mark-landing.png"  />
		<h3>Your go-to place for local fashion</h3>
	</div>
	
	<!--
	*************** TO DO **************
	
	<video autoplay loop muted>
			<source src="/static/video/2.mp4" type="video/mp4">
	</video>
	-->
	
<!-- ****************************************************************************************** -->
<!-- // Facebook page plugin // 
<!-- ****************************************************************************************** -->
<div class="facebook-plugin">
	<div class="fb-page" data-href="https://www.facebook.com/wob.dm" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/wob.dm"><a href="https://www.facebook.com/wob.dm">Facebook</a></blockquote></div></div>		
</div>		
		
		<div class="enter">
			<form method="post" action="{{ url_for('login') }}">
				<input type="text" name="username" placeholder="Username" required="required"></input>
				<input type="password" name="password" placeholder="Password" required="required"></input><br />
				<button type="submit">Log in</button><h3>or</h3><a href="javascript:void(0)"><h5>Join</h5></a> 
			</form>
		</div>	
		
		<!-- ****************************************************************************************** -->
		
		<div class="sign_up">
			<form method="post" action="{{ url_for('signup') }}">
				<input type="text" name="username" placeholder="Username" required="required" ></input>
				<input type="password" name="password" placeholder="Password" required="required"></input>
				<input type="text" name="email" placeholder="Email" required="required"></input>
				<input type="text" name="number" placeholder="Cell: 1(767)555-555" required="required"></input><br />
				<textarea autofocus rows="4" cols="0" name="user_option" placeholder="Are you a USER or CLOTHING SUPPLIER?" required="required"></textarea>
				<hr>
				<!-- **** Slide ONE **** -->
				<!--
				<h4>USER</h4>
				 
					<div class="slideOne">
						<input type="checkbox" value="checked" id="slideOne" name="user" />
						<label for="slideOne"></label>
					</div>
				<!--  ******************* 
				<h4>RETAILER</h4>
				
				<!-- **** Slide TWO **** 	
					<div class="slideTwo">
						<input type="checkbox" value="checked" id="slideTwo" name="retailer" />
						<label for="slideTwo"></label>
					</div>
				<!--  ******************* -->
				
				<button type="submit">Sign up</button><h3>or</h3><a href="javascript:void(0)"><h5>Login</h5></a> 
			</form>
		</div>
		
		<p>Wob is an online platform for both people interested in local fashion and people looking to promote and sell quality clothing</p>
		
	</div>
	<!-- ****************************************************************************************** -->
	<div class="section" id="section1">
		<p>Discover daily, the latest in Brands and Fashion from the comfort of your home or office.</p><br />
		
		<!-- ****************************************************************************************** -->
		<script type="text/javascript">
		$('.pictures').jMosaic({
			items_type: "img", //Type of elements in the selector (Default: img);
			min_row_height: 150, //Minimal row height (Default: 150);
			margin: 0, //Space between elements (Default: 0);
			is_first_big: false //First row - largest (Default: false).
		})
		</script>
		<div class="pictures">
			<img src="/static/img/brands/chanel.png" />
			<img src="/static/img/brands/old_navy.png" />
			<img src="/static/img/brands/GQ.jpg" />
			<img src="/static/img/brands/Polo.jpg" />
			<img src="/static/img/brands/BCBG.png" />
			<img src="/static/img/brands/levis.jpg" />
			<img src="/static/img/brands/cole_haan.jpg" />
			<img src="/static/img/brands/boss.png" />
			<img src="/static/img/brands/louis.png" />
			<img src="/static/img/brands/michael_kors.png" />
			<img src="/static/img/brands/dg.jpg" />
			<img src="/static/img/brands/fendi-logo.jpg" />
			<img src="/static/img/brands/Yves_Saint_Laurent.png" />
		</div>	
	</div>
	<!-- ****************************************************************************************** -->
	<div class="section" id="section2">
		<div class="sec2-title">
			<p>What are the benefits of taking your business online with Wob?</p>
			<!-- <hr width="50%"> -->
		</div>
		
		<img src="static/img/stat.png" />
			
		<div class="landing-footer">
			<p>© 2015 Wob. All rights reserved.</p>

		</div>
	</div>
</div>

<!-- ****************************************************************************************** -->
<!-- // Facebook page plugin // 
<!-- ****************************************************************************************** -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>
$(document).ready(function() {

$(".sign_up").css("visibility", "hidden");

	$('.enter a').click(function() {
		$(".sign_up").css("visibility", "visible");
		$(".enter").css("visibility", "hidden");
	});
	//***********************************************//
	$('.sign_up a').click(function() {
		$(".enter").css("visibility", "visible");
		$(".sign_up").css("visibility", "hidden");
	});
});	
</script>

<!-- ****************************************************************************************** -->
<!-- // Test //                                                                                 -->
<!-- ****************************************************************************************** 
<script type="text/javascript" src="../static/js/jquery.spotlight.js"></script>
<script>
$('.enter').spotlight({
	opacity: .7,				//spotlight opacity
	speed: 400,					//animateion speed
	color: '#000',				//spotlight colour
	animate: true,				//enable animation (if false 'speed' and 'easing' are irrelevant)
	easing: '',					//set easing from the jQuery Easing plugin
	exitEvent: 'click',		//set which event triggers spotlight to hide 
									//(must be a valid jQuery 'live' event type)
	onShow: function(){},	//callback function after spotlight is shown
	onHide: function(){}		//callback function after spotlight is hidden
});

$(document).ready(function(){

	$('.test').show();

	//$('a.enter').click(function(){
		$('.enter').spotlight();
	//});

});
</script>
-->

<!-- ****************************************************************************************** -->
<!-- // Clicky.com Analytics // 
<!-- ****************************************************************************************** 

<a title="Real Time Analytics" href="http://clicky.com/100859888">
<img alt="Real Time Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>

-->


<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100859888);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>


<!-- 

<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100859888ns.gif" /></p></noscript>

****************************************************************************************** -->
<!-- // Clicky.com Analytics // 
<!-- ****************************************************************************************** -->
</body>
</html>

{% endblock %}

