<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Wob</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage very simple demo." />
	<meta name="keywords"  content="fullpage,jquery,demo,simple" />
	<meta name="Resource-type" content="Document" />

	
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/examples.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.jMosaic.css" />
	<link rel="shortcut icon" href="http://faviconist.com/icons/07a10cab66719b7ee07758859d2c68fb/favicon.ico" />

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
		
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>	
	
	<script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="../static/js/jquery.jMosaic.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				autoScrolling: false,
				slidesColor: ['#000000', '#fff', '#fff']
				 //afterRender: function() {
					//$('video').height($(window).height());
					//$('video').get(0).play();
					//}
				});
		});
	</script>

</head>
<body>


<div id="fullpage">
	<div class="header">
		<img src="static/img/logo.png"></img>
	</div>
	<!-- ****************************************************************************************** -->
	<div class="section active" id="section0">
	
<!-- ****************************************************************************************** -->
<!-- // Facebook page plugin // 
<!-- ****************************************************************************************** -->
<div class="facebook-plugin">
	<div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>		
</div>		
		<div class="enter">
			<button type="button" onclick="window.location='/main'">ENTER</button>
		</div>	
		
		<!-- <img src="static/img/brands/splash.png" /> 
		<div class="landing-desc"></div>
		-->
		
		<p>Wob is an online platform for both people interested in local fashion and people looking to promote and sell quality clothing</p>
		<!-- <div id="video"> -->

		
			<!--<video autoplay loop preload="auto"> 
				<source src="/static/video/1.mp4" type="video/mp4"> 
			</video> 
		</div> -->
		
	</div>
	<!-- ****************************************************************************************** -->
	<div class="section" id="section1">
		<p>Daily discovery of brands and latest fashion from the comfort of your home or office.</p><br />
		
		<!-- ****************************************************************************************** -->
		<script type="text/javascript">
		$('.pictures').jMosaic({
			items_type: "img", //Type of elements in the selector (Default: img);
			min_row_height: 150, //Minimal row height (Default: 150);
			margin: 0, //Space between elements (Default: 0);
			is_first_big: false //First row - largest (Default: false).
		})
		</script>
		<div class="pictures">
			<img src="/static/img/brands/chanel.png" />
			<img src="/static/img/brands/old_navy.png" />
			<img src="/static/img/brands/GQ.jpg" />
			<img src="/static/img/brands/Polo.jpg" />
			<img src="/static/img/brands/BCBG.png" />
			<img src="/static/img/brands/levis.jpg" />
			<img src="/static/img/brands/cole_haan.jpg" />
			<img src="/static/img/brands/boss.png" />
			<img src="/static/img/brands/louis.png" />
			<img src="/static/img/brands/michael_kors.png" />
			<img src="/static/img/brands/dg.jpg" />
			<img src="/static/img/brands/fendi-logo.jpg" />
			<img src="/static/img/brands/Yves_Saint_Laurent.png" />
		</div>	
	</div>
	<!-- ****************************************************************************************** -->
	<div class="section" id="section2">
		<div class="sec2-title">
			<p>What are the benefits of taking your business online with Wob?</p>
			<!-- <hr width="50%"> -->
		</div>
		
		<img src="static/img/stat.png" />
			
		<div class="landing-footer">
			<p>© 2015 Wob. All rights reserved.</p>

		</div>
	</div>
</div>

<!-- ****************************************************************************************** -->
<!-- // Facebook page plugin // 
<!-- ****************************************************************************************** -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script

</body>
</html>